<div id="dateSelectors" class="date-selectors" outside-click="hidePicker()">
	<input name="{{ inputName }}" type="text" class="mb-input-field" ng-click="showPicker()" class="form-control" ng-model="date" placeholder="{{ placeholder }}">
	<div class="mb-datepicker" ng-show="isVisible">
		<table>
			<thead class="year">
				<tr>
					<td colspan="7">
						<table>
							<tr>
								<td width="1" class="noselect" ng-click="previousYear(currentDate)"><img style="height: 10px;" ng-src="{{ arrows.year.left }}" /></td>
								<td class="noselect">{{ year }}</td>
								<td width="1" class="noselect" ng-click="nextYear(currentDate)"><img style="height: 10px;" ng-src="{{ arrows.year.right }}" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</thead>
			<thead class="month">
				<tr>
					<td colspan="7">
						<table>
							<tr>
								<td width="1" class="noselect" ng-click="previousMonth(currentDate)"><img style="height: 10px;" ng-src="{{ arrows.month.left }}" /></td>
								<td class="noselect">{{ month }}</td>
								<td width="1" class="noselect" ng-click="nextMonth(currentDate)"><img style="height: 10px;" ng-src="{{ arrows.month.right }}" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="day-head">{{ ::calendarHeader.monday }}</td>
					<td class="day-head">{{ ::calendarHeader.tuesday }}</td>
					<td class="day-head">{{ ::calendarHeader.wednesday }}</td>
					<td class="day-head">{{ ::calendarHeader.thursday }}</td>
					<td class="day-head">{{ ::calendarHeader.friday }}</td>
					<td class="day-head">{{ ::calendarHeader.saturday }}</td>
					<td class="day-head">{{ ::calendarHeader.sunday }}</td>
				</tr>
				<tr class="days" ng-repeat="week in weeks">
					<td ng-click="selectDate(day)" class="noselect"
						ng-class="::day.class" ng-repeat="day in week">{{ ::day.value
						}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>