
	<form>
		<legend>Project Demographics</legend>
		<div class="mui-form-group">
			<input ng-model="project.name" type="text" class="mui-form-control" required>
			<label class="mui-form-floating-label">Name of Project</label>
		</div>
		<div class="mui-form-group">
			<div class="mui-select">
				<label class="hb-floating-label">Project Status</label>
				<select name="status" id="status" ng-model="status" ng-change="onChangeStatus(status)" ng-options="status.name for status in statusList | orderBy:'order'"></select>
			</div>
		</div>
		<div class="mui-form-group">
			<input ng-model="project.code" type="text" class="mui-form-control" required> 
			<label class="mui-form-floating-label">Project Code</label>
		</div>
		<div class="mui-form-group">
			<textarea  ng-model="project.summary" class="mui-form-control" required></textarea>
			<label class="mui-form-floating-label">Project Summary</label>
		</div>
		<div class="mui-form-group">
			<div class="mui-select">
				<label class="hb-floating-label">Project Owner</label>
				<select name="owner" id="owner" ng-model="owner" ng-change="onChangeOwner(owner)" ng-options="owner.name for owner in owners | orderBy:'name'"></select>
			</div>
		</div>
		<legend>Important Dates</legend>
		<div class="mui-form-group">
			<label class="hb-floating-label">Projected Start Date</label>
			<mb-datepicker element-id='projectedStartDate'
                   input-class="mbdatepicker-input"
                   input-name="projectedStartDate"
                   arrows="arrows"
                   calendar-header="header"
                   date="project.startdate.projected"
                   date-format="dddd, MMMM Do, YYYY"></mb-datepicker>
		</div>
		<div class="mui-form-group">
			<label class="hb-floating-label">Actual Start Date</label>
			<mb-datepicker element-id='actualStartDate'
                   input-class="mbdatepicker-input"
                   input-name="actualStartDate"
                   arrows="arrows"
                   calendar-header="header"
                   date="project.startdate.actual"
                   date-format="dddd, MMMM Do, YYYY"></mb-datepicker>
		</div>
		<div class="mui-form-group">
			<label class="hb-floating-label">Projected End Date</label>
			<mb-datepicker element-id='projectedEndDate'
                   input-class="mbdatepicker-input"
                   input-name="projectedEndDate"
                   arrows="arrows"
                   calendar-header="header"
                   date="project.enddate.projected"
                   date-format="dddd, MMMM Do, YYYY"></mb-datepicker>
		</div>
		<div class="mui-form-group">
			<label class="hb-floating-label">Actual End Date</label>
			<mb-datepicker element-id='actualEndDate'
                   input-class="mbdatepicker-input"
                   input-name="actualEndDate"
                   arrows="arrows"
                   calendar-header="header"
                   date="project.enddate.actual"
                   date-format="dddd, MMMM Do, YYYY"></mb-datepicker>
		</div>
		<button type="submit" ng-click="save()" class="mui-btn mui-btn-default mui-btn-raised">Submit</button>
	</form>