<!doctype html>
<html ng-app="astadia.trax">
<head>
<title>Astadia - Project Tracker</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular.js"></script>
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-animate.js"></script>
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-aria.js"></script>
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-messages.js"></script>
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-sanitize.js"></script>
<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-touch.js"></script>
<script type='text/javascript' src="vendor/angular-ui-router/2.1.4/angular-ui-router.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
<script type='text/javascript' src="vendor/angular-material/0.11.0/angular.material.js"></script>
<script type='text/javascript' src="vendor/moment/2.10.3/moment.js"></script>

<!-- factory  -->
<script type='text/javascript' src="sec/module.factory.js"></script>
<script type='text/javascript' src="sec/base.factory.js"></script>
<script type='text/javascript' src="app/script/authorization.factory.js"></script>
<script type='text/javascript' src="app/script/lookup.factory.js"></script>
<script type='text/javascript' src="app/script/project.factory.js"></script>
<script type='text/javascript' src="app/script/resource.factory.js"></script>

<!-- controller -->
<script type='text/javascript' src="sec/module.controller.js"></script>
<script type='text/javascript' src="app/script/authorization.controller.js"></script>
<script type='text/javascript' src="app/script/dashboard.controller.js"></script>
<script type='text/javascript' src="app/script/app.controller.js"></script>
<script type='text/javascript' src="app/script/data.controller.js"></script>
<script type='text/javascript' src="app/script/project.controller.js"></script>
<script type='text/javascript' src="app/script/resource.controller.js"></script>
<script type='text/javascript' src="app/script/login.controller.js"></script>
<script type='text/javascript' src="app/script/registration.controller.js"></script>

<!-- directive -->
<script type='text/javascript' src="sec/module.directive.js"></script>
<script type='text/javascript' src="app/script/project.directive.js"></script>

<!-- application -->
<script type='text/javascript' src="app/script/app.js"></script>
<script type='text/javascript' src="app/script/app.route.js"></script>

<!-- fonts -->
<link href="vendor/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,400italic,600italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- style -->
<link href="vendor/angular-material/0.11.0/angular.material.css" rel="stylesheet" type="text/css" />
<link href="app/style/app.css" rel="stylesheet" type="text/css" />
</head>
<body layout="column" ng-controller="AppController">
	<div layout="row" flex id="appContainer">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="background-color:#101010;"> 
			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Settings</h1>
			</md-toolbar> 
			<md-content ng-controller="SideBarLeftController"> 
				<md-button ng-click="close()" class="md-primary" hide-gt-md> Close Sidenav Left </md-button>
				<p hide-md show-gt-md>This sidenav is locked open on your device. To go back to the default behavior, narrow your display.</p>
			</md-content> 
		</md-sidenav>
		<md-content layout="column" flex style="background-color:#101010;">
			<md-toolbar style="min-height: 48px;position: fixed; top:0px; left:0px;">
				<table class="md-toolbar-tools" style="height: 48px; max-height: 48px; table-layout:fixed; width: 100%;font-size:1.2em;padding:16px 4px;">
					<tr>
						<td width="1">
							<md-button class="md-icon-button" style="width:24px;" aria-label="Menu" title="Menu" ng-click="toggleLeft()"> <i class="fa fa-bars fa-lg"></i> </md-button>
						</td>
						<td width="100%" style="font-size:.85em">
							Project Tracker
						</td>
						<td width="1">
							<md-button class="md-icon-button" style="width:24px;" aria-label="Home" title="Home" ng-click="goToHome()"> <i class="fa fa-home fa-lg"></i> </md-button>
						</td>
						<td width="1">
							<md-button ng-show="!isAuth" class="md-icon-button" style="width:24px;" aria-label="Login" title="Login" ng-click="goToSignIn()"> <i class="fa fa-sign-in fa-lg"></i> </md-button>
							<md-button ng-show="isAuth" class="md-icon-button" style="width:24px;" aria-label="Logout" title="Logout" ng-click="signOut()"> <i class="fa fa-sign-out fa-lg"></i> </md-button>
						</td>
						<td width="1">
							<md-button ng-disabled="!isAuth" class="md-icon-button" style="width:24px;" aria-label="Add" ng-click="toggleRight()"> <i title="New" class="fa fa-plus-square-o fa-lg"></i> </md-button>
						</td>
					</tr>
				</table>
			</md-toolbar>
			<md-content id="content" style="padding-top:50px;background-color:#101010;" ><div ui-view></div></md-content>
		</md-content>
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="background-color:#101010;"> 
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Add</h1>
			</md-toolbar> 
			<md-content ng-controller="SideBarRightController" layout-padding>
				<md-button ng-click="newProject()" class="md-primary"> New Project </md-button><br />
				<md-button ng-click="newResource()" class="md-primary"> New Resource </md-button>
			</md-content>
		</md-sidenav>
	</div>
</body>
</html>