<!doctype html>
<html ng-app="astadia.trax">
<head>
	<title>Astadia - Project Tracker</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-animate.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-aria.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-messages.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-sanitize.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-touch.js"></script>
	<script type='text/javascript' src="vendor/angular-ui-router/2.1.4/angular-ui-router.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
	<script type='text/javascript' src="vendor/angular-material/0.10.1/angular.material.js"></script>
	<script type='text/javascript' src="vendor/moment/2.10.3/moment.js"></script>
	
	<!-- factory  -->
	<script type='text/javascript' src="sec/module.factory.js"></script>
	<script type='text/javascript' src="sec/base.factory.js"></script>
	<script type='text/javascript' src="app/script/project.factory.js"></script>
	<script type='text/javascript' src="app/script/resource.factory.js"></script>

	<!-- controller -->
	<script type='text/javascript' src="sec/module.controller.js"></script>
	<script type='text/javascript' src="app/script/app.controller.js"></script>
	<script type='text/javascript' src="app/script/data.controller.js"></script>
	<script type='text/javascript' src="app/script/project.controller.js"></script>

	<!-- application -->
	<script type='text/javascript' src="app/script/app.js"></script>
	<script type='text/javascript' src="app/script/app.route.js"></script>
	
	<!-- fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" rel="stylesheet" type="text/css" />
    
	<!-- style -->
	<link href="vendor/angular-material/0.10.1/angular.material.css" rel="stylesheet" type="text/css" />


</head>
<body>
<div ng-controller="AppController" layout="column" style="height:500px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="SideBarLeftController">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Toolbar with Icon Buttons</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="SideBarRightController" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>


</body>
</html>