<md-subheader class="md-primary">Create Project</md-subheader>
<md-content layout-padding layout="column" layout-sm="column"> 
	<md-input-container  flex>
		<label>Project Name</label> 
		<input ng-model="project.name">
	</md-input-container> 
	<md-input-container flex> 
		<label>Project Code</label>
		<input ng-model="project.code">
	</md-input-container>
	<md-input-container>
		<label>Status</label>
		<md-select ng-model="currentStatus">
			<md-option ng-repeat="status in statusTypes | orderBy : 'order'" ng-value="status">{{status.color}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
		<label>Owner</label>
		<md-select ng-model="currentOwner">
			<md-option ng-repeat="resource in resources | orderBy : 'lastName'" ng-value="resource">{{resource.lastName}}, {{resource.firstName}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container flex>
		<label>Description</label>
		<textarea ng-model="project.summary" columns="1" md-maxlength="350"></textarea>
	</md-input-container>
</md-content>
<md-content layout-padding layout="column" layout-sm="column"> 
	<md-button class="md-raised">Clear</md-button>
    <md-button class="md-raised md-primary">Create</md-button>
</md-content>