<md-content layout-padding layout="column" layout-sm="column"> 
	<md-input-container  flex>
		<label>First Name</label> 
		<input ng-model="registration.firstName">
	</md-input-container> 
	<md-input-container  flex>
		<label>Last Name</label> 
		<input ng-model="registration.lastName">
	</md-input-container> 
	<md-input-container  flex>
		<label>Middle Initial</label> 
		<input ng-model="registration.middleInitial">
	</md-input-container> 
	<md-input-container  flex>
		<label>Email</label> 
		<input ng-model="registration.email">
	</md-input-container> 
	<md-input-container  flex>
		<label>Password</label> 
		<input type="password" ng-model="registration.password">
	</md-input-container> 
	<md-input-container  flex>
		<label>Password (Confirm)</label> 
		<input type="password" ng-model="registration.confirm">
	</md-input-container> 
</md-content>
<md-toolbar style="min-height: 28px;position: fixed; bottom:0px; left:0px;background-color:#B1B1B1;">
	<table class="md-toolbar-tools" style="height: 28px; max-height: 28px; table-layout:fixed; width: 100%;font-size:1em;padding:16px 4px;">
		<tr>
			<td width="1" align="center">
				<md-button ng-click="clear()">Clear</md-button>
			</td>
			<td width="100%" align="center"> </td>
			<td width="1" align="center">
				<md-button class="md-primary" ng-click="register()">Register</md-button>
			</td>
		</tr>
	</table>
</md-toolbar>