<md-content layout-padding layout="column" flex style="padding-bottom:45px;background-color:transparent;"> 
	<md-input-container>
		<label>First Name</label> 
		<input ng-model="registration.firstName">
	</md-input-container> 
	<md-input-container>
		<label>Last Name</label> 
		<input ng-model="registration.lastName">
	</md-input-container> 
	<md-input-container>
		<label>Middle Initial</label> 
		<input ng-model="registration.middleInitial">
	</md-input-container> 
	<md-input-container>
		<label>Email</label> 
		<input ng-model="registration.email">
	</md-input-container> 
	<md-input-container>
		<label>Password</label> 
		<input type="password" ng-model="registration.password">
	</md-input-container> 
	<md-input-container>
		<label>Password (Confirm)</label> 
		<input type="password" ng-model="registration.confirm">
	</md-input-container> 
</md-content>
<md-content layout="column" flex style="background-color:transparent;">
  <div hide-sm>
    <md-content layout="row" style="background-color:transparent;"> 
	    <md-button class="md-raised" ng-click="clear()">Clear1</md-button>
		<md-button class="md-raised md-primary" ng-click="register()">Register1</md-button>
	</md-content>
  </div>
  <div hide-gt-sm>
    <md-toolbar layout layout-padding style="min-height: 35px;position: fixed; bottom:0px; left:0px;background-color:#000000;">

		    <md-button class="md-raised" ng-click="clear()" style="color: rgba(0, 0, 0, 0.87);">Clear2</md-button>
			<md-button class="md-raised md-primary" ng-click="register()">Register2</md-button>

	</md-toolbar>
  </div>
</md-content>






