<md-subheader class="md-primary">Create Resource</md-subheader>
<md-content layout-padding layout="column" layout-sm="column"> 
	<md-input-container  flex>
		<label>First Name</label> 
		<input ng-model="resource.firstName">
	</md-input-container> 
	<md-input-container flex> 
		<label>Last Name</label>
		<input ng-model="resource.lastName">
	</md-input-container>
	<md-input-container flex> 
		<label>Middle Initial</label>
		<input ng-model="resource.middleInitial">
	</md-input-container>
	<md-input-container flex> 
		<label>Email</label>
		<input ng-model="resource.contactInfo.email">
	</md-input-container>
	<md-input-container flex> 
		<label>Phone</label>
		<input ng-model="resource.contactInfo.phone">
	</md-input-container>
	<md-input-container>
		<label>Role</label>
		<md-select ng-model="resource.role">
			<md-option ng-repeat="role in roles | orderBy : 'order'" ng-value="role">{{role.name}}</md-option>
		</md-select>
	</md-input-container>
</md-content>
<md-content layout-padding layout="column" layout-sm="column"> 
	<md-button ng-click="clear()"class="md-raised">Clear</md-button>
    <md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
</md-content>