<md-subheader class="md-primary">Create Resource</md-subheader>
<md-content layout-padding layout="column" layout-sm="column"> 
	<md-input-container  flex>
		<label>First Name</label> 
		<input ng-model="resource.firstName">
	</md-input-container> 
	<md-input-container flex> 
		<label>Last Name</label>
		<input ng-model="resource.lastName">
	</md-input-container>
	<md-input-container flex> 
		<label>Middle Initial</label>
		<input ng-model="resource.middleInitial">
	</md-input-container>
	<md-input-container flex> 
		<label>Email</label>
		<input ng-model="resource.contactInfo.email">
	</md-input-container>
	<md-input-container flex> 
		<label>Phone</label>
		<input ng-model="resource.contactInfo.phone">
	</md-input-container>
	<md-input-container flex> 
		<label>Role</label>
		<md-select ng-model="resource.role">
			<md-option ng-repeat="role in roles | orderBy : 'order'" ng-value="role">{{role.name}}</md-option>
		</md-select>
	</md-input-container>
</md-content>
<md-content ng-show="isAuth" layout="column" flex style="background-color:transparent;">
  <div hide-sm>
    <md-content layout="row" style="background-color:transparent;"> 
	    <md-button ng-click="clear()"class="md-raised">Clear</md-button>
   		<md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
	</md-content>
  </div>
  <div hide-gt-sm>
    <md-toolbar layout="row" layout-align="center center" layout-padding style="min-height: 35px;position: fixed; bottom:0px; left:0px;background-color:#000000;">
	    <md-button ng-click="clear()"class="md-raised">Clear</md-button>
    	<md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
	</md-toolbar>
  </div>
</md-content>