.hb-floating-label {
	color: rgba(0,0,0,.54);
    font-size: 12px;
    line-height: 15px;
    top: 0;
    text-overflow: ellipsis;
}

.hb-content {
	padding-top: 64px;
}

/* ----- overrides -----------------------------------------------------------------------------*/
.mui-appbar {
  /* background-color: #2196F3; */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #BF360C;
  color: #FFF;
  z-index: 1;
}