
/* .astadia-logo {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAABRCAYAAACDiLWxAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAFWtJREFUeAHtW1mQXFd5/s/d+95ebm/Ts/TsiySPNbIsZDSyhWSwjR0wRjYmKSoJKYydQJUTqoA85TF5y2se8phKVR5S4CIJmFB2xQqQsFRksDC2JWsZG1kzGkkzPb0vd8n393T39Ix7Fo16gAed0pm+3ffcc/7vfP92zj0iulvuzsDdGdjBDIhnp6eDaCftoG1Xm8hd7W2bzmbT6cBzU8JSQ5HErxYy2W2ad/X2b3Vmf3L1anlMEX90yJJfPHLkiNJVJNt09tsYTEAGaXp6OvCNnspfRhX6+qRBTmDlxt/h9+Vt5Ova7T0HGn3hhUHj4sWTI0tXPz5uiSd1iWJTAUGmow4ARQbV7xqaLTraU6ATExP6Bz2JbziS/BcPvb+k9mgFYnrBKg3q4gAu30Z1t5Cva7f21EZLljXsS/IxebBf7e8Nk64wzNUyadIx2Omejt8ciz/3dCBhmtMky71prUSLkQiVFLU19pRBfxAql/XPnhqxT39ifxw31mah1ap7F3sK1A2ao7rs2sPOEl01g7SgBckRq0NOmWJf1Cg/89Bx7W/uO+x/ea+98J7aqGOaPX1+NmB7RSrJCv0i1Es95SJF3TLbqXh8Wvr7sUk5vJil34RC5X8Af7Xucbi+p71kVKaAnhylW7LZkP+SEaP39ChVJZmY2BMDlIjqpKWSYjwgVVIQbc/Ud8+AwuPGEoHaUFyUhOyvOlYG+IbZRzlZJ1n1yS75pOCWhXCT7KHDALpn8uxZx67rzu43ViYtab02vq/bdNWwydVl0vI+yVWEUfxL98hPIKnYs5R0T4CeOnVKGTWlR1Mht1/ZIHpVyPTLYJoySoBETZAKsML1aaBfety2HX29ZXXv254AnZubS59M0uGwCQXdOAKs8D01TueVFJWESlrGJ8khGh6Q+lXV2TM73ShGN6ZQpAz5samksi+gdfAtkqCKUOisPETLwmwBDYckSkWlmb2y064D7e/vDxy26RE7KMcFQK0r/L3x2zURoQsiRV5OIbmyaqd9vdIje2WnXQeaDBr3n4iLg7olC1dsBLoG24WDPSsNUaZmkZJHXIGd9vdKT6CFttaqe1fdBiofjNCnJ0M04sCrum29M7sbcV8jm96iAfIyKslwzsNpeTgaLcUAb8MM3TngNlHuvDPEzr4TCWk2ppJRVCTymshY7A4jMas/98doZTlEyA0paguRiEr7f9+BinHTfXx/iA4EEFIKmkzVxmqljpfBduDpOoXpQmaAyhWNZLCeTMgnkPduCEp3TkKHed5dp6lUyjyVkB7r0SnBeGoQmhmtYqXty1DbLbp9ozJCmSxYdQXiqfKkpl3veg7eNaCTydDRI1E6FESyzpiysFHeOnB1QY4GsE017gD4lh+kd2+mqVTVKT0gTStKyEazreamQy9b/9QtoMqDUe/JvoAYBnn1UlQBFKxqjk+VgEQO1Bg50KbSvLk4RpdLvRSJa4qmeV23064APTg1NfSALWbDCtVTOAbpNbysWgOvYLMMqr3mLHSAW1yx6CeZaSzngtSTFI922067AVQcjjhPDpu0X20QVmgAZQKF75NedqlmyFQOKXV77YATzLv0zs0RmgOrqQHt6TJ2Hzq12+1vdwx0ZGQkcjIqPWIrItoUoqwitLT5TbXqkYyEoBzSqGIB7Caj+lmVfpq5l4xkZMqySv3ob3Ndbw62w89Nhtzh02h22FZOTpk0A9/TKmWLga7JKHlEetGts1nEStsx4FTXbtefq0ALcqZGPy/vp5I9KGTDeBg32nptdb+rizsCytuZJ2x6MqFRf7MjGftfVXM9UJZMKzmkVl2AlKkQA1jE2SZYBvluOkrX4kHsaEfop84xEmH7i0eO9HctHWzKt6tZGlIJr4z8o6ZM9bjH2yOa4VGB078N4USC6up5h2TYbDmsUTFqgHWJ6iAHbLqEWtVXw+cb+X20Yu87WnDCaQi2gftdidopMdtxR9KsTU/1amK8qaWyhh0D1DLSP8T+DxWt4JBShh4DYCEeoGwsQJf7w3SpL0wVjdV59aGap9EHsaNKUbJPYxHfFfXdNaOzU1N9R4J0MiSTxYiwHURqwCMJPRaxrbCR0Xob1yOtUCPZ86gcUOj8kF0Hugpy/bzkI2NUtke/NDeX4deMd1x2C1TMBN1PDRo03QwpClRWwYYXK1p+E6AsrZ6rkY/YugC7fN8OUCGodww5vh6g0uD9U37YvB+P7VbO1gTtqgM4odCDYfGELRPvsJMErVMR9dhGK6CU81xO/zoVyfGogmxpGertQOc9dko6PNgGm+ZnKz1jVOqZfDGdnr3jmLoroIcN78SEIe5Dvl7P1nUTcZLZRMmBqU5qy/c4BSwgljLA1kwwQA43dRvlVmvFCxhUHDz4uIiJcfy6asBrt2/r6raBYqtDOxGWnorKWDGj8OsUhdlsiFFftXQQgZP6clClvA1VBZtmDfbsrap63bAD3NF6v+ODbSeSMio9o1+BFt1RqLltoH1+Ba90xQNYc6oMTrMgsNIQGAAtpHLJSo1UhJFm4asKYlAxrK6uZPA9XIUHZqD1go4YJIcXeORW4QxLVamcnv5COZwcxO+7ZrWt11b3W13IJy3/dFKhCX5QNbDTrkMh24ZnoMdurdC9K3ky4F35Zg2zUkFS70LwZtEQV82ai1wYvzSfVxsqDBuvF+4Yz9QiPXYtOf5laBNo311ZG3kHzx8ZGxs4HJBOBRFSsA8NNrEnu6EHGYIPF8r0IMAezyxTUHXICTIzaNgE1BgrWHGRA2MymqWuIgDL7DZmz+e1LL4Xh6e/lLfibC4bemk+vPXnBjG3bIx1mPTplEr3sCVpTQe0ybA91So9YCzTJ8Lz1KcWSRZtgBrDqACpglVqU/P6zLEXZhVG3z48Hm+ROsFospgafW63rO4Y6H1YpcwG6PEIziBIkEMLgE1G3Kkw+F6PzP4qHQ7cpE+pV2hGvkE4o7GuNS/hlIqDrc4Nk8Bqwl4Yn3VGG6pcHpp8PmdGd5UWbibqOoH4yyOD8ccfs8Sf2ZqwAxFkOCZsk5/miefp4soAmYWUR34awgfwFd+TVKa4BFYRU657Icp7AbxIVKmKFLnoKVTF2zWSUH106AIg75Nyp/yuQqqQVC5jMhywq1hUy1dGZe+/b9y4sfqKDkPupLB425aRkRHjhC4+Y8uiX4aTV41VOTo+mADIAciAiWjPZwblLJ3SL9FjxjuUVjKkNFWZnRFYJXZcrdKYMXZOsE/PALMNVitDk89lor0jaMqNdlx2xOjxfvvIpyzpq0lN9Jo27Apq22RzHaNxZhJC17NTpnat8o6gKhB65DxF5CJYNWjRi1DW16nKTPIM8iY9r9iZUQ/PypgwODPMBEnFKjw01rS6bApRo4FS7r+WlpZ2zOpOGJUfVJXTCUmM6R3CSWtK4xBiCEKFwcwWvZoS7Fb7DT1lvU4PB96ikFTChKCXMrPKF43S5IvtlLdgmkk1blf7039aSacncdls1Xxq089tGX1oamr0c5b/tbQhxswox030jqdadglQIgUhx1Bhu/WXSG1MNlllRhE163u9DMeWC9QHFTbwovgDL0pZx8Sz6JyXti4G4D4kEMbvKvQqJqEMc4Xj4rfnqjB8v2aksis/yGQyGHj7sh1Q8fne6BePBehz0TAFOG7ijd96oL0YfALCRDcHyUK3A/UagANgd1C9RXGo84pn0a1aBLuH8GCsvk2gCvpWqlDZMl5bQH2ROvKU+UF9n5TPv5yfm1sAzDZV6Ax6S6Cz0+nYaV3567EAHQxGeFGNTvBEi9F+gNyH2Y5tDXIzoCyygg2ltLJEveoyVeFx570ecnyA5R00GWQxozLGUCqoRQDlcOQjicBbZNWPhR3/e4Xr19Fo67KFNRHt9/RHhxVxMIilNU7PAOFaZ6IPA+7HDMM2GfydFAVO6pD+Hn0+/EM6bb1GCeUWwhImr1l4XHhdH2teN1pCbMUE4LdaX+9TUm/iCN9tNt3sc1MR0zhb+8WQ+o17cJTNCuOgW4NN7lIaqpF0L2JbkkFixA42ufG3TqrbVOHmZxh2O6Bep2QwRzfcKNTZQGjFGFDdevXguJQCyC6RVOUjPNAtVeofypW+c+vWLTSqlzY61mBvOhP3B9Sj2Az6SMhEMtY2HXWQMwDJDohZ7nKJSHk6af2Mnh96iU7Ef0mGDNvkwuLzpEJiL1ggN5itT0KtN/boynDvQ3yXm22WIrZB4Gar5RROlXyylH/xcEg8Ggpi9YiUr26XcDzK0RKx2u6UySazO2G07mbgnX0kD2PRBRoK3QBrLi24FpXrPAE0TqGRAKtqloTDK39FCF0aTZbo2yuLixVkTAyCCVznoDoCHRVi8mlT/quRsD/cDCcSGJQfKJHMsZKZ3IG6tre5HaAuHJEv+dQXXKFh8waFkGDc9HTKIonwWX0JVc5BDoScGkKSYQyKaukXhbevvI2b7tjYWHh5eRnea610Aip9IZV47niQTtsW1g7MJphUZ5GrTsIM2FZvEyS3vx2gzGwN2ZGODMzWSzjbu0QJNUcFTMDNGrZSkSkR7NRXARhOS8CWSdcm7KL8rfzCAk7PWmJyclLMz8+3PNqHgB4fH08+q0vfxDmEAypAyQghyokCyQcAkuP5LkDeDlB+aYzQgSxQkITjO7ywV+GQerUsap5crHSu4SCW4wMsUkFs/0NPoalqoFfPFy7lUyO/zJ47VwsEAkGw2nRQdV1e4xePTgvxyWHdv5c35yS2yY8VSJmG80H6182CA4IAgkwLe8FqEGCQOmq2TxritYpcWbEElXwFCzsYJ/5psNVp4yY9Y1+hZ8MfIKuqrO5OIA57FhyTWaHK/uTXB2srPSwn3sbV4GtaRLYu+OZMKmX9YVD/5kGTjhrDNaE+mif5EBzAHTApeK9EgXqZSAAtiI09JhmgJICTEJ8lZH4Chx65Eh8DAJv8qoLfr1bhbAjKp2FPir0L+6OQcGgIS74kkohbnkQrUGcBe1ZkNFSNuJKtLE7piZ9fuHChChU24ZzqycQ6oA+nUh/7rCWeT43W4toTeVLuh4eF+u9IXQFIqrPkkGQgzlpYbYZLpETgMMJcoWIhnEMBUMFLOJ48JOq8I8igPCTP7IQcnE6pVSWqwvxqVewcliWchsWWC8CuWg3eokN900gN+7CyYT1bxppW4D7vwDhG4IB7celbmasLK5FIRMzMzBCO7K29xcQbZvUZp/q1wxPOx4OfyckcRnjh/GGQmFkGBJYkFQIY8MYMCpU/5WAFla/x6gGfkgkW0Yagpmx/HuIUOMVCBQC5gisHzNQqOMVSwvE51CrAMUgXL3BqqAxSx/OCQw9o5byeF/F9ADsAsBYYXcJCwIFcvqGEvaJXGq4Ff3T+/PlaqVQKFAoFpxXy45nMvpkJZzb6VE5TjjGTmCv2WRikHkP5PzOANYzF6NeuMUj998bPze0fn5/l6ea6SfGYvRKzhwoHU2MngxDCj9ZLfSxsihcVsqAJKk8wkHIC4zeWdCNaDae589SDg78/LOA4Ox4szoSeL84t/xP9mi4kEokasjwme7W8MGb/yak/zpyOfKKgS6HVvVrer5U0Zg4VnzJf178zozwBqGw8nUobwFW8zCB28V0V4FSq5FDxhrtSYCbBBuzRBQje5efwUq+N6xoYV8HoKqurcycAFPzWJz4Ah8TMphQHGkO0YmhmNetKyRX9VWY1Fovx0afV8uQn7eHxp5yHlbgfYgAK1JJtrs4mwKwy2Wy94bMNVOtO22986VawR5QPUCWDmsUrfgCtQUVdWE87qE5AXcxmDQgseGgFMkGa+gqGZWpWFZrVC7A9AKvCMWUsY39hwfuPzKWFRXZILaChyeC1sUPWg5JmTBZqBhVw5qdcw846bIS1hLcrG5rUwtK6aAPV/pvPalhAiAC46nKwDrKaR59VbGaDPehHPZHYDignG1X0pUGzdNYoOC8WiuVhr94Ey582VLhXrVE4RHrJo1ClIr2cvZpdA/rWW9ny4aNJK5ZUj9V8wypU8UqvUbMVk7IVfK9pVHPYkcB0oS4t4BuAehUwBdbcpQA5yxaAmuQU8XIJLqEOCk+y8O0Am987MdrMqqpQ4TDClAKzYV8g4U8dLANuqxZk64Pt9sdpyl+UfvDmL25eazHKTMgU+mDfAeWhcESMchesVhVHpSLyyRyA5gE8VzFoBcBX6t81LJbh/zAoJpZ82Jq7opO7DGArAXJzeH1fVsnnyQGw5lZKJ4DbAeVnKgBq6h4ZYLXOIgMFwk6VVTlpuUo57xcyS8OvtrwuA3355bnFB45PfS8Wx76zRa3jNHyPC+8AlBGzPFY7AONdvaWFSm7+vfJLS/Pu/0Vkf6A/KD+UtsX9g3EyLcTJFuurXdzRX578mwWVggGXNLZVdoQ8y5uUuUv+u79+0//Xs2fP8m7xuuKd+XH1pXvu1Z8eGpEeXHen7Us+59P7V/xfXbnk/cv77ymv/uZy6MriYrmg67o6lCiGUlElmQr5o30xb2YwJmZx4GS2L0lhzYCkd4g8Cw3J4W1dFEkHL09ZkzqVc294l1971Xlh4erFn+E+6NlQzvzn3PvHH5j8fjwuZqyQwJHL1eIgkZqf90vvvuP+2+XL/revzfuvLy/kF86evYbMohUty+fPE9ZPNI/665mZ1CvJgBnsjbnxZJiG7bA/nYrTsVTcP9GToIQZQsawznhWx9rqrwendD2nU9CArXI04MYbWD33hj/3/e9UX8hkhn585sxFZCuNdnzRXmZPjU989SvqP49PSMeyYO/iBf+dixd9sOe+8t5F6WIo1J85c+ZMvYP257a5lhG4tYmUaUVtJxaPiXQ8Kg4k4tLRREI+GUvIg4GQJLvIc5FAoiKB4LDyoU94agAcTyLfNcrYH0N60WAV+2b01jnv8ne/6//5yq1+iLgm42aKJL/w1amvJXvEPfML9IPLV5zXl+bz8+fOXcfyvtntNrC2vy2NjIxofX2OGbNM246JvmiUpkJR+T47Kp+IJpUDli0bHmhbD5i/C7KRYk7F8nh/yesbH1kV0Y/OeOfOvOq/WCwO/G87SBZlM6D00Y9OhIvFqhyPj+U2PrQ9hl21ELzfYxilQCgkhcJxLWlH/JFIXJkO9ygfCSfUWSOqJDxFlhgolJ6mUznq0cr1Uy4/PON+6+V/d/72tdeuvInRka+uL5sCXd/sd/JN8Hoyl7ugmT2mFTFV24iqvWZEGgsmtXvMuHJoYtw9NG7lbr7+P84/vvp98dIrr5znVLeVKrdL/fsMtF3O5jX/p3iF/2uXEVfNUJSCPXaxduENb/HMmTneI9rEBzcfv/t5dwbuzsDdGfgdz8D/A6Qe/d9YhQTgAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: bottom left;
} */

.view-label {
	font-size: 1.5em;
}

.project-status-container {
	font-family: Roboto;
	margin-bottom: 10px;
	background-color: #141414;
	color: #90A4AE;
}

.project-status-container DIV.percentage {
	position:relative;
	width: 100%;
}

.project-status-container DIV.percentage DIV.text {
	position: relative;
	font-size: .7em;
	text-align:right;
	border-right:1px solid #262626;
	padding:2px 2px 2px 0px;;
}


.project-status-container DIV.status {
	height : 30px;
	width : 100%;
	border-top:1px solid #262626;
	background-color: #1a1a1a;
}

.project-status-container DIV.status .project {
	position: absolute;
	font-weight: bold;
	z-index: 20;
	color: #fefefe;
	margin: 4px 6px;
}

.project-status-container DIV.status .complete {
	height : 30px;
	position: absolute;
}

.project-status-container .owner {
	font-size: .8em;
	font-weight: normal;
	padding: 4px;
}

.project-status-container DIV.status .complete.GREEN,
.project-status-container DIV.status .complete.RED,
.project-status-container DIV.status .complete.YELLOW {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: 0.2;
	position:absolute;
}

.project-status-container DIV.status .complete.YELLOW {
	background-color: #FFFF00;
}

.project-status-container DIV.status .complete.GREEN {
	background-color: #388E3C;
}

.project-status-container DIV.status .complete.RED {
	background-color: #D32F2F;
}

.project-status-container DIV.status.color {
	height : 1px;
	width : 100%;
}


md-toolbar:not(.md-menu-toolbar) {
    background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(53,53,53,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(53,53,53,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(53,53,53,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(53,53,53,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(53,53,53,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(53,53,53,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
	
	color:#efefef;
	z-index: 500;
}

md-toolbar:not(.md-menu-toolbar) .md-button {
    color:#efefef;
}
}
