.hb-floating-label {
	color: rgba(0,0,0,.54);
    font-size: 12px;
    line-height: 15px;
    top: 0;
    text-overflow: ellipsis;
}

.hb-content {
	padding-top: 64px;
}

/* ----- overrides -----------------------------------------------------------------------------*/
.mui-appbar {
  /* background-color: #2196F3; */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #BF360C;
  color: #FFF;
  z-index: 1;
}

.mbdatepicker-input > input {
  -webkit-animation-duration: 0.0001s;
  animation-duration: 0.0001s;
  -webkit-animation-name: mui-node-inserted;
  animation-name: mui-node-inserted;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  height: 32px;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0px;
  background-image: none;
}

.mbdatepicker-input > input::-moz-focus-inner {
  border: 0;
  padding: 0;
    border-color: #2196F3;
  border-width: 2px;
}

.mbdatepicker-input > input:focus {
  height: 33px;
  margin-bottom: -1px;
  border-color: #2196F3;
  border-width: 2px;
}

.mbdatepicker-input > input:readonly,
.mbdatepicker-input > input:disabled {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
}

.mbdatepicker-input > input.mui-form-control:invalid:not(:focus):not(:required),
.mbdatepicker-input > input.mui-form-control:invalid:not(:focus):required.mui-not-empty,
.mbdatepicker-input > input.mui-form-control:invalid:not(:focus):required.mui-empty.mui-dirty,
.mbdatepicker-input > input.mui-form-control:invalid:not(:focus):required[value]:not([value=""]):not(.mui-empty):not(.mui-not-empty),
.mbdatepicker-input > input.mui-form-control:invalid:not(:focus):required:not(:empty):not(.mui-empty):not(.mui-not-empty) {
  height: 33px;
  margin-bottom: -1px;
}

/* <input name="testName" class="mb-input-field ng-pristine ng-untouched ng-valid" ng-click="showPicker()" ng-model="date" placeholder="" type="text">
<input ng-model="project.startdate.actual" class="mui-form-control ng-pristine ng-valid ng-valid-required mui-not-empty mui-dirty ng-touched" required="">*/